//media sizes 
$tablet-width: 768px;
$desktop-width: 1024px;
//font
$font: 'Spartan', sans-serif;

//units
$ff: 100%;
//colors 

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);